body
{
    background-image: url(http://2.bp.blogspot.com/-Satc3qwsxGU/UaMYcMRqNuI/AAAAAAAAhxo/_4wsbNdWzIo/s1600/Bus+Station+by+Blunck%252BMorgen+Architekten05.jpg);
}

header
{
    
    border: 5px solid rgb(255, 255, 255);
}

h3,p
{
    display: inline-block;
    color: white;
    text-align: center;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    font-size: large;
}

form
{
    background-color: rgba(255, 255, 255, 0.651);
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

label,input
{
    width: 50%;
    height: 50%;
    margin:auto
    color: rgba(92, 1, 16, 0.788);
    font: bold;
    font-size: large;
    margin-bottom: 3%;

}

label
{
    margin-left: 32%;
   
}

#ItemsImagesDiv
{
    display: inline-block;
    border: 5px solid rgba(255, 255, 255, 0.63);
    margin-top: 5%;
    margin-left: 27%;
}

#SubmitResult
{
    background-color: rgba(75, 9, 20, 0.658);
    color: white;
    font-size: large;
    margin-left: 45%;
    border: 5px solid rgba(255, 255, 255, 0.63);


}

#ResultItemsList
{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 2%;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    color: rgba(54, 1, 10, 0.753);
    font: bold;
    margin-bottom: 3%;
    font-size: large;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}